Presentation: About the project, experience, what did the user’s learn.

Options 2: Website

For this option, you will pick a AI topic/technology, the design
and/or consequences of which have raised ethical questions in
a particular social context of your choosing. 

You will then develop a website, podcast episode(s), artwork, satire, 
short story, collection of poems, educational video (approx. 15-20
minutes), or other creative artifact for a lay audience that is
designed to accomplish all of the following:

a) educate a lay audience about the social and ethical
implications of your chosen AI technology.

b) provoke critical thinking about this technology’s design
and/or use, including its social impacts and ethical
implications.

c) inspire reflection or action regarding the social and ethical
implications of your chosen technology/context.

You must incorporate at least 2-course readings and 4 outside
scholarly sources into your project, either by directly citing
these sources or including a 1-3 page (single-spaced) written
reflection component to your creative piece that explains what
sources you used and how they informed your piece. 

Finally, you must create an anonymous survey for measuring the
audience reception of your piece, including what they felt they
learned about the social and ethical implications of your
chosen technology, and what can be improved about your
piece. 

We will go over how to design ethical and effective
audience surveys in class, and you should aim to collect and
analyze survey responses from a minimum of 10 people by
March 21st. Please include a list of Works Cited in your final
submission.


----------------------------------------------------------------------------
Project Proposal - Due February 19th by 11:59pm

Task List: 

Finding Sources:
Devin: 1 class reading + 2 scholarly readings
----------------------------------------------
Tyler: 1 class reading + 2 scholarly readings


We chose to implement option 2. The AI topic that we've selected is AI in CS Education Today. The format we 
envision our creative project to take is a website, to display our ideas and research to a lay audience. Our 
ideas for the major tech justice-related takeaway(s) we want to leave audiences with at this time in our project 
is, how AI in the CS classroom aid in developing the necessary skills such as programming, or impeding 
developmental skills. Additionally, ethical concerns regarding plagiarism of code and deceiving on interviews.


(TODO) A draft of the anonymous survey questions you plan to use
for gathering lay audience feedback on your creative project
in order to assess to what extent they found it educational,
provoking of critical thinking, and inspiring of action or
reflection, as well as their feedback on what can be
improved.

(TODO) An annotated bibliography with four annotations for outside
scholarly sources that you are considering incorporating into
your project.

Annotation Guidelines:
Each annotation should begin with a
formatted reference citation in the style
of your choosing (MLA, APA, Chicago, etc.)
in bold.

Underneath this bolded reference
information should be a paragraph that
captures:

the main argument of the source
a summary of its methods and key
findings

the disciplinary perspective the source
is written from and how you’ve
determined it


the audience the source is written for
and how you’ve determined it


the source’s strengths and weaknesses
for understanding the social and
ethical implications of your chosen
technology and/or possible solutions
for addressing these implications.
